.contacts {
  padding: 120px 0;
  background-color: #fafafa;
  color: $font-dark;
  height: 680px;

  .container {

    .title {
      font-weight: 600;
      font-size: 36px;
      line-height: 43px;
    }
  }
}